<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/static/main.css}" />
        <style>
            #manage-users-title {
                margin-top: 25px;
            }

            .user-title {
                font-weight: 700;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 id="app-title">Banking system</h1>
            <div id="header-items">
                <button class="header-button" onclick="location.href='/adminpanel'">Admin panel</button>
                <form th:action="@{/logout}" th:method="POST" class="header-button">
                    <button type="submit">Log out</button>
                </form>
                <p class="header-button" th:inline="text">Logged in as [[${auser.username}]]</p>
            </div>
        </header>
        <main>
            <h2>Welcome to the admin panel!</h2>
            <p>Here you can see all of your customers and manage their banking accounts.</p>
            <h3 id="manage-users-title">Manage users</h3>
            <div class="container">
                <p th:if="${registeredUsers.size()} == 0">No users were found :/</p>
                <ul id="account-list">
                    <li th:each="ruser : ${registeredUsers}">
                        <a th:href="@{/user/{username}(username=${ruser.username})}">
                            <p class="user-title" th:inline="text">User: [[${ruser.username}]]</p>
                            <p th:if="${ruser.bankAccounts.size()} > 0">Accounts: </p>
                            <p th:if="${ruser.bankAccounts.size()} == 0">User has no bank accounts.</p>
                            <ul>
                                <li th:each="bankaccount : ${ruser.bankAccounts}">
                                    <p th:inline="text">&emsp;- [[${bankaccount.iban}]] - [[${bankaccount.balance}]]€</p>
                                </li>
                            </ul>
                            <p class="manage-text">Click to manage</p>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>