<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bank Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/static/main.css}" />
        <style>
            #balance-text {
                margin: 25px 0;
                font-weight: 700;
            }

            #transfer-msgbox {
                max-width: 800px;
                width: 100%;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <header>
            <form th:action="@{/logout}" th:method="POST" class="logout-button">
                <button type="submit">Log out</button>
            </form>
            <p th:inline="text">Logged in as [[${auser.username}]]</p>
        </header>
        <main>
            <h2 th:inline="text">Bank account: [[${bankAccount.accountNumber}]]</h2>
            <p th:inline="text">Owner: [[${bankAccount.owner.username}]]</p>
            <p th:inline="text" id="balance-text">Account balance: [[${bankAccount.balance}]]€</p>
            <div class="container">
                <h3 class="ctitle">Transfer funds</h3>
                <form th:action="@{/transferfunds}" th:method="POST">
                    <div>
                        <label for="to">Transfer to</label>
                        <select name="to" required="true">
                            <option th:each="tbankAccount : ${bankAccounts}" th:value="${tbankAccount.id}" th:inline="text">
                                [[${tbankAccount.owner.username}]] - [[${tbankAccount.accountNumber}]] </option>
                        </select>
                    </div>
                    <input type="hidden" name="from" th:value="${bankAccount.id}" />
                    <div>
                        <label for="amount">Amount</label>
                        <input type="number" name="amount" required="true" />
                    </div>
                    <div>
                        <label for="message">Message</label>
                        <textarea id="transfer-msgbox" rows="6" name="message" required="true"></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <a th:href="@{/user/{username}(username=${bankAccount.owner.username})}">Back to all accounts</a>
        </main>
    </body>
</html>