<!DOCTYPE html>
<!-- Custom login page: Edited version of https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/authentication/ui/DefaultLoginPageGeneratingFilter.java#L219 -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Please sign in</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/main.css}">
        <style>
            body {
                padding: 0;
            }

            .container.login {
                margin-right: auto;
                margin-left: auto;
                background-color: inherit;
            }

            .form-div {
                margin-top: 0;
                margin-bottom: 1rem;
            }
        </style>
    </head>
    <body>
        <div th:replace="fragments/main :: master-head"></div>
        <div class="container login">
            <form th:action="@{/login}" th:method="POST" class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div th:if="${(param.error != null)}" class="alert alert-danger" role="alert"
                    th:text="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message}"></div>
                <div th:if="${(param.logout != null)}" class="alert alert-success" role="alert">You have been signed out</div>
                <div class="form-div">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-div">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </body>
</html>