<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/static/main.css}" />
        <style>
            .iban {
                font-weight: 700;
            }

            #admin-only-title {
                margin-top: 150px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 id="app-title">Banking system</h1>
            <div id="header-items">
                <button class="header-button" onclick="location.href='/adminpanel'">Admin panel</button>
                <form th:action="@{/logout}" th:method="POST" class="header-button">
                    <button type="submit">Log out</button>
                </form>
                <p class="header-button" th:inline="text">Logged in as [[${auser.username}]]</p>
            </div>
        </header>
        <main>
            <h2 th:inline="text">[[${user.username}]]'s bank accounts</h2>
            <div class="container">
                <p th:if="${user.bankAccounts.size()} == 0">No bank accounts were found :/</p>
                <ul id="account-list">
                    <li th:each="bankaccount : ${user.bankAccounts}">
                        <a th:href="@{/bankaccount/{id}(id=${bankaccount.id})}">
                            <p class="iban" th:text="${bankaccount.iban}">iban</p>
                            <p th:inline="text">Balance [[${bankaccount.balance}]]€</p>
                            <p class="manage-text">Click to manage</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- TODO -->
            <h3 id="admin-only-title">Admin only zone</h3>
            <div id="new-bankaccount-container" class="container">
                <h3 class="ctitle">Create a new bank account</h3>
                <form th:action="@{/createbankaccount}" th:method="POST">
                    <label for="iban">IBAN</label>
                    <input type="text" name="iban" required="true" />
                    <label for="owner">Owner username</label>
                    <input type="text" name="owner" required="true" />
                    <!--TODO: new bank accounts, set money, credit cards? input type="hidden" name="owner" th:value="${user.id}" /-->
                    <button type="submit">Create</button>
                </form>
            </div>
        </main>
    </body>
</html>