<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/static/main.css}" />
        <style>
            .iban {
                font-weight: 700;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 id="app-title">Banking system</h1>
            <div id="header-items">
                <button class="header-button" th:data-location="@{/adminpanel}"
                    onclick="window.location.href=this.getAttribute('data-location')">Admin panel</button>
                <button class="header-button" th:data-location="@{/}" onclick="window.location.href=this.getAttribute('data-location')">My
                    pofile</button>
                <form th:action="@{/logout}" th:method="POST" class="header-button">
                    <button type="submit">Log out</button>
                </form>
                <p class="header-button" th:inline="text">Logged in as [[${auser.username}]]</p>
            </div>
        </header>
        <main>
            <h2 th:inline="text">[[${user.username}]]'s bank accounts</h2>
            <div class="container">
                <p th:if="${user.bankAccounts.size()} == 0">No bank accounts were found :/</p>
                <ul id="account-list">
                    <li th:each="bankaccount : ${user.bankAccounts}">
                        <a th:href="@{/bankaccount/{id}(id=${bankaccount.id})}">
                            <p class="iban" th:text="${bankaccount.iban}">iban</p>
                            <p th:inline="text">Balance [[${bankaccount.balance}]]€</p>
                            <p class="manage-text">Click to manage</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Admin only zone -->
            <div class="container">
                <h3 class="ctitle">Create a new bank account (Admin only)</h3>
                <p class="form-error main" th:if="${(param.bankAccountCreateFail != null) and (param.bankAccountCreateFail[0] == 'true')}">Bank acount
                    creation did not succeed.</p>
                <form th:action="@{/createbankaccount}" th:method="POST">
                    <div>
                        <label for="iban">IBAN</label>
                        <input type="text" name="iban" required="true" />
                        <p class="form-error" th:if="${bankAccountCreateFailIban != null}" th:text="${bankAccountCreateFailIban}"></p>
                    </div>
                    <div>
                        <label for="balance">Balance</label>
                        <input type="number" name="balance" min="0" step=".01" required="true" />
                    </div>
                    <input type="hidden" name="ownerUsername" th:value="${user.username}" />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </main>
    </body>
</html>